.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  margin: 10px;
  background-image: url('https://www.w3schools.com/css/img_mountains.jpg');
  background-size: cover;
  background-position: center;
}


.signup-form {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(135deg, #ff94a9, #ffb48f);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.signup-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #fff;
}

.signup-form input[type="text"],
.signup-form input[type="tel"],
.signup-form input[type="email"],
.signup-form input[type="password"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
}

.signup-form input[type="text"]:focus,
.signup-form input[type="tel"]:focus,
.signup-form input[type="email"]:focus,
.signup-form input[type="password"]:focus {
  outline: none;
  border-color: #ff758c;
}

/* CSS */
.signup-button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  background-color: #ff758c;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  font-size: 16px;
  border-radius: 8px;
}